*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.page{
    background: #FFFFFF;
    width: 1280px;
}

.center{
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.menu_bar{
    display: flex;
    flex:content;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin:1%;
    padding: 1%;
}

.menu_bar_logo{
    display: flex;
    flex: content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1%;
}
.menu_bar_logo_image{

}

.menu_bar_logo_text{
    color: #000000;
    font-size: 24px;
    font-style:normal;
    font-weight: 400;
    line-height:normal;
}

span{
    color: #F25822;
}

.menu_bar_links{
    display: flex;
    flex: content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.menu_bar_link_1{
    color: #F25822;
}

.menu_bar_link_2{
    color: #000000;
}

.menu_bar_link_3{
    color: #000000;
}

.menu_bar_link_4{
    color: #000000;
}

.menu_bar_link_5{
    color: #000000;
}

.menu_bar_link_6{
    color: #000000;
}

.menu_bar_link_7{
    color: #000000;
}

.menu_bar_links_get_started{
    color: #FFFFFF;
    background: #F25822;
    border-radius: 30px;
    border-width: 0;
    padding: 2% 3%;
}

.home{
    display: flex;
    flex:content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
    margin:1%;
    padding: 1%;
}

.home_meta{
    display: flex;
    flex: content;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;
    margin:1%;
    padding: 1%;
}

.home_meta_header{
    color: #000000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:1%;
    padding: 1%;
}

.home_meta_text{
}

.home_meta_text_text{
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:1%;
    padding: 1%;
}

.home_meta_text_element{
}

.home_meta_media{
    display: flex;
    flex: content;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    gap: 5%;
    margin:1%;
    padding: 1%;
}

.home_meta_media_get_started{
    color: #FFFFFF;
    background: #F25822;
    border-radius: 30px;
    border-width: 0;
    text-wrap: nowrap;
    padding: 5% 10%;
}

.home_meta_media_watch_video{
    display: flex;
    flex: content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.home_meta_media_watch_video_button{
    color: #888;
    background: transparent;
    border-width: 0;
    border-radius: 30px;
    border-width: 0;
    text-wrap: nowrap;
}


.home_meta_element{

}

.home_image{

}


.brand{
    background: #FFFFFF;
    display: flex;
    flex: content;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.brand_logo{

}
