*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #020A18;
    width: 1280px;
    height: 720px;
}

.Top{
    background-color: #020A18;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5%;
    width: 100%;
    height: 5%;
}

.Top_link{
    color:  #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 0.8%;
    width: 100%;
    height: 90%;
}

.Info{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-content: flex-start;
    gap: 8%;
    padding: 5%;
    width: 70%;
} 

.Info_H2{
    display: flex;
    color: #3A68B8;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    align-items:flex-end;
    height: 12%;
}

.Info_H1{
    color: #FFFFFF;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;

}

.Info_Paragraph{
    display: flex;
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    align-items:flex-end;
    height: 18%;
    width: 80%;
}

.Info_Buttons{
    display: flex;
    align-items: flex-start;
    text-align: center;
    gap: 2%;

    /* margin: auto; */
}

.Info_Button{
    color: #FFFFFF;
    display: flex;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    text-align: center;
    gap: 10px;
    border-radius: 5px;
    background: #3A68B8;
    
}

.Info_play{
    width: 15px;
    height: 15px;
}


.Picture{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}

.Botton{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-left: 60px;
    gap: 5%;
    width: 100%;
    height: 5%;
}